{% extends 'mailing/base.html' %}
{% load static %}

{% block content %}
<div class="row text-center">
    <table class="table table-dark table-striped" style="margin-top: 50px;">
        <thead>
        <tr>
            <th scope="col">Статус</th>
            <th scope="col">Ответ сервера</th>
            <th scope="col">Рассылка</th>
            <th scope="col">Дата последней попытки</th>


        </tr>
        </thead>
        <tbody>
        {% for object in object_list|dictsortreversed:"last_try" %}
        <tr>
            <td>{{ object.status }}</td>
            <td>{{ object.response }}</td>
            <td>{{ object.settings }}</td>
            <td>{{ object.last_try }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}