{% extends 'mailing/base.html' %}

{% block content %}

<div class="col-12">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <div class="card" style="background-color: black; color: white; border: 1px solid red;">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Уверены, что хотите удалить Рассылку №{{ object.pk }}?</p>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                        <a href="{% url 'mailing:mailing_list' %}" class="btn btn-outline-primary">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}