{% extends 'mailing/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row text-start">
        <div class="pricing-header px-3 py-3 pt-md-8 pb-md-6 mx-auto text-left">
            <div class="col-12">
                <div class="card" style="background: black; border-color: white; color: white;">
                    <div class="card-header">
                        <h3 class="card-title">
                            {% if object %}
                                Изменение письма
                                {% else %}
                                Добавление письма
                                {% endif%}
                        </h3>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-outline-success" type="submit">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif%}
                            </button>
                            <a href="{% url 'mailing:mailing_list' %}" class="btn btn-outline-primary" type="submit">Вернуться к письмам</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}