{% extends 'mailing/base.html' %}


{% block content %}
<div class="container">
    <div class="row text-start">
        <div class="pricing-header px-3 py-3 pt-md-8 pb-md-6 mx-auto text-left">
            <div class="col-12">
                <div class="card" style="background: black; border-color: white; color: white;">
                    <div class="card-header">
                        <h3 class="card-title">
                            {% if object %}
                            Изменение рассылки
                            {% else %}
                            Добавление рассылки
                            {% endif%}
                        </h3>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% if not object or object.user == request.user %}
                                {{ form.as_p }}

                            {% else %}

                                {{ form.time.as_hidden }}
                                {{ form.period.as_hidden }}
                                {{ form.status.label_tag }} {{ form.status }}
                                {{ form.clients.as_hidden }}
                                {{ form.message.as_hidden }}

                            {% endif %}

                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}

                            <button class="btn btn-outline-success" type="submit" style="margin-top: 20px;">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif%}
                            </button>
                            <a href="{% url 'mailing:mailing_list' %}" class="btn btn-outline-primary" type="submit" style="margin-top: 20px;">Вернуться
                                к рассылкам</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}