{% extends 'mailing/base.html' %}


{% block content %}

<div class="col-12">
    <div class="row" method="post" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card" style="background: black; border-color: white;">
                <div class="card-header">
                    <h3 class="card-title">
                        Сброс пароля
                    </h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <button class="btn btn-outline-primary" type="submit" style="margin-top: 10px;">Выслать пароль
                            на почту
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}